/*Index CSS*/

/*Title Edits*/
.title {
    text-align: center;
    color: rgb(247, 139, 38);
    padding: 1px;
}

/*text Editing*/
.navbar .a {
display:block;
padding:50px;
color:red;    
}
